.sour-gummy-regular {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.funnel-display-regular {
  font-family: "Funnel Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.funnel-display-bold {
  font-family: "Funnel Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #180161;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #eb3678;
  opacity: 0.7;
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 64%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 18%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 64%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 16%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 14s;
}
.background li:nth-child(4) {
  left: 34%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 8s;
}
.background li:nth-child(5) {
  left: 80%;
  width: 120px;
  height: 120px;
  bottom: -120px;
  animation-delay: 9s;
}
.background li:nth-child(6) {
  left: 61%;
  width: 90px;
  height: 90px;
  bottom: -90px;
  animation-delay: 17s;
}
.background li:nth-child(7) {
  left: 84%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 28s;
}
